*{margin: 0; padding: 0; box-sizing:0;}

h1{
    text-align: center;
    background-color: #ffcbdb;
    padding: 30px;
    margin-bottom: 30px
}
.img-jogo{
    border: 2px solid #ffcbdb;
    height: 300px;
    width: 440px;
}
h2{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.texto{
    text-align: center;
    margin-bottom: 10px;
}
.botao{
    text-align: center;
    width: 10%;
    margin-left: 45%;
    padding: 2px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.botao:hover{
    background-color: salmon;
    color: white;
}
.botao:active{
    background-color: pink;
}
footer{
    position: static;
    bottom: 0px;
    background-color: #ffcbdb;
    font-size: 11px; 
    text-align: center;
    width: 10
}
