*{margin: 0; padding: 0;}

.incone-e-texto{
    display: flex;
    align-items: center;
}
.incone{
    width: 20px;
    margin-right: 10px;
}
header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    align-items: center;
    background-color: mediumvioletred;
}
header p{
    font-weight: bold;
    font-size: 20px;
}
button{
    width: 55px;
}
footer{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    height: 60px;
    align-items: center;
    background-color: mediumvioletred;
}
nav{
    background-color: #f2d0f2;
    width: 300px;
    padding: 10px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.img-home{
    display: flex;

}