*{margin: 0; padding: 0;}

.container{
    display: flex;
    flex-direction: column;
    height: 114vh;
    justify-content: space-between;
}
header{
    display: flex;
    background-color: mediumvioletred;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}
header div{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;

}
header img{
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

.img-bolinho{
    margin-top: 3px;
}
header p{
    font-weight: bold;
    font-size: 23px;
}
header button{
    margin-right: -70px;
    padding: 0 8px;;
}
footer{
    display: flex;
    background-color: mediumvioletred;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
}

main{
    display: grid;
    background-color: #f2d0e0;
    grid-template-columns: 60px 150px 100px;
    width: 220px;
    height: 1200px;
    padding: 0 10px;
    align-items: star;
}

div img{
    width: 18px;
}

#home{
    display: grid;
    grid-template-columns: 40px 150px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#produtos{
    display: grid;
    grid-template-columns: 40px 150px 50px ;
    margin-bottom: 20px;
}
#carrinho{
    display: grid;
    grid-template-columns: 40px 150px 50px ;
    margin-bottom: 20px;
}
#perfil{
    display: grid;
    grid-template-columns: 40px 150px 50px ;
    margin-bottom: 20px;
}
