*{margin:0; padding: 0;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-right: 70px;
    height: 60px;
    background-color: darkorange;
}
header button{
    width: 300px;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    color: grey;
}