/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-bottom: 2px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: inline-block;
    

}

div img {
    background:white;
}
.boraComecar{
    text-align: center;
    position: sticky;
}
.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    position: relative;
    left: -430px;
    top: 50px;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 310px;
    text-align: center;
    
}
.mensagem-empresa{
    position: relative;
    top:30px;
    bottom: 100px;
}
h3{
    position: relative;
    top: 80px;
}

.icone {
    height: 25px;
    width: auto;

}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 70px;
    margin-left: 200px;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    margin: auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}

button:hover{
    background-color:#b39820 ;
}

button:active{
    color: white;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #635a3d;
}
