*{margin:0; padding: 0;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-right: 70px;
    height: 60px;
    background-color: darkorange;
    grid-column: 1/-1;
}
header button{
    width: 100px;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    color: grey;
}
footer{
    background-color: darkslategray;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkorange;
    grid-column: 1/-1;
}

.imagem-video{
    margin-bottom: 10px;
    width: 100%;
    /* align-items: stretch; */
    
}
.card-video{
    display: flex;
    flex-direction:column ;
    border: 1px solid green
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 20px 200px 20px;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    display: grid;
    grid-auto-rows: 70px 1fr 70px;
}
@media screen and (max-device-width : 480px) {
    /* celulares */
    main{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */
    main{
        display: flex;
        flex-direction: column;
    }
}


   
    
